.all{
    text-align: center;
}
.task, .label{
    font-size: 20px;
}
#inp_e{
    width: 170px;
    height: 25px;
    font-size: 20px;
    margin:10px;
}
button{
    width: 180px;
    height: 40px;
    font-size: 20px;
    margin:10px;
}
.result{
    text-align: center;
}
input{
    width: 210px;
    height: 25px;
    font-size: 20px;
    margin:10px;
}
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}